@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  background-color: antiquewhite;
}

.title{
  font-size: 3.6rem;
  text-shadow: 6px 6px #989898, 6px 6px #6c6666;
}

.square{
  height: 6rem;
  width: 6rem;
  border: 2px solid gray;
  border-radius: 0.5rem;
  font-size: 2.5rem;
}

.square:hover, .reset-btn:hover{
  cursor: pointer;
  border-color: rgb(0, 108, 162);
}

.board-row{
  display: flex;
  justify-content: center;
}

.reset-btn{
  margin-top: 2rem;
  padding: 0.5rem;
  font-family: "Doto", serif;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.5rem;
  border-style: dashed;
}

.status{
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.swal2-container{
  z-index: 0 !important;
}